:root {
  --black:	#000;
  --white:	#fff;
  --gray-900: #0f0f0f;
  --gray-800: #1f2024;
  --gray-700: #2f3036;
  --gray-600: #757575;
  --gray-500: #9e9e9e;
  --gray-400: #bdbdbd;
  --gray-300: #e0e0e0;
  --gray-200: #eee;
  --gray-100: #f5f5f5;
  --blue:	#3870c4;
  --red:	#c80000;
  --green:	#00aab4;
  --orange:	#ffc300;
  --teal:	#03a9f4;
  --rootBg: var(--gray-100);
  --rootColor: var(--gray-700);
  --componentBg: var(--white);
  --componentColor: var(--gray-700);
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  transition: all 0.1s ease-out 0s;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-size: 1.8rem;
  background: #f5f5f5;
  color: #2f3036;
  background: var(--rootBg);
  color: var(--rootColor);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.c-card {
  max-width: 600px;
  width: 100%;
  background: #fff;
  background: var(--componentBg);
  margin-bottom: 3rem;
  border-radius: 5px;
}
.c-card__body {
  padding: 2rem 2rem 4rem;
}
.c-card__img {
  max-height: 250px;
  padding-top: 2rem;
}

.u-text--center {
  text-align: center;
}

.u-text--left {
  text-align: left;
}

.u-text--right {
  text-align: right;
}

.u-subtitle {
  font-weight: 400;
}

.c-logo {
  display: inline-flex;
  align-items: center;
  margin-bottom: 3rem;
}

.logo-img {
  width: 100px;
  border-radius: 50px;
}
.c-logo__icon {
  width: 50px;
  height: 50px;
  margin-right: 1rem;
}

.c-card__img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.c-logo__title{
  margin-left: 10px;
}
.c-logo__subtitle {
  font-weight: 600;
  letter-spacing: 0.12em;
  margin-top: 0.5rem;
  margin-left: 10px;
  font-size: 0.7em;
  text-transform: uppercase;
  opacity: 0.7;
}

.c-toggle {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 1.4rem;
  cursor: pointer;
  border: 0;
  background: transparent;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  background: #2d599c;
  color: #adc5e8;
  padding: 0.5rem 1.5rem;
}
.c-toggle.active {
  background: #ffe180;
  color: #997500;
}
.c-toggle__icon {
  margin-right: 0.5rem;
  width: 1.6rem;
}
.c-toggle:focus, .c-toggle:active {
  outline: 0;
}
.c-toggle:hover, .c-toggle:focus {
  transform: translateY(-0.1rem);
  box-shadow: 0px 0px 0px 3px currentColor;
}